In [47]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
from prophet import Prophet
from datetime import datetime

In [48]:
def api_req(url,params):
    response = requests.get(url, params=params)
    # Parse response
    data = response.json()['Data']['Data']
    df = pd.DataFrame(data)
    df['timestamp'] = pd.to_datetime(df['time'], unit='s')
    df = df.set_index('timestamp')
    df = df.sort_index(ascending=False)
    df.drop(df.head(1).index,inplace=True)
    return df

In [49]:
# Set the API endpoint and parameters
url = 'https://min-api.cryptocompare.com/data/v2/histoday'
params = {
    'api_key':'4f5cd6a090d066496f7a74d6a33ef6913ef96807d2d33f5c47e50f7b011bf2be',
    'fsym': 'BTC',
    'tsym': 'USD',
    'limit': 730 # Get data for the past year
}
data = api_req(url,params)
data

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
timestamp,,,,,,,,,
2023-04-03,1680480000,28494.64,27290.26,28186.76,52416.66,1.467725e+09,27810.08,direct,
2023-04-02,1680393600,28538.36,27880.95,28465.30,21016.25,5.925811e+08,28186.76,direct,
2023-04-01,1680307200,28810.95,28265.42,28477.29,19774.03,5.632994e+08,28465.30,direct,
2023-03-31,1680220800,28650.47,27541.23,28037.46,50916.39,1.436740e+09,28477.29,direct,
2023-03-30,1680134400,29172.90,27731.64,28355.87,63033.78,1.790022e+09,28037.46,direct,
...,...,...,...,...,...,...,...,...,...
2021-04-08,1617840000,58150.23,55711.07,55951.98,25461.84,1.458096e+09,58084.46,direct,
2021-04-07,1617753600,58628.19,55467.58,58010.35,50347.59,2.855411e+09,55951.98,direct,
2021-04-06,1617667200,59464.31,57369.44,59119.56,26304.15,1.535666e+09,58010.35,direct,
2021-04-05,1617580800,59235.68,56833.44,58219.43,24696.26,1.439529e+09,59119.56,direct,
2021-04-04,1617494400,58493.73,56493.38,57074.97,19002.99,1.093080e+09,58219.43,direct,